process {
    cache          = 'lenient'
    executor       = 'slurm'
    clusterOptions = "--output=job-info.output --error=job-info.err --account=pi-cdonnat --partition=cdonnat"
}

env {
    APPTAINERENV_TMPDIR   = "\$PWD"
    SINGULARITYENV_TMPDIR = "\$PWD"
    APPTAINERENV_TMP      = "\$PWD"
    SINGULARITYENV_TMP    = "\$PWD"
}

singularity {
    enabled    = true
    autoMounts = true
    runOptions = "--bind /scratch/midway3/janast:/tmp --bind /project/cdonnat/shared/databases/gunc"
    cacheDir   = "/project/cdonnat/shared/cacheDir/singularity"
}
